h1{
    color: rgb(10, 231, 58);
    font-style: italic;
    text-align: center;
}

.plan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: saddlebrown;
    font-style: oblique;
    font-size: 20px;
}

.plan li:hover{
    color: darkslategrey;
}